body {
  margin-top: 50px;
  background-color:#c3da9f;
}

@media (min-width: 992px) {
  #main {
    border-right: 1px solid rgba(0, 0, 0, .1);
    box-shadow: -1px 0 0 rgba(255, 255, 255, 0) inset;
  }
}

@media (max-width: 991px) {
  #main {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0);
  }
}

a {
  color: #336633;
}

a:hover,
a:focus {
  color: #339933;
}

.btn-youscene {
  color: #ffffff;
  background-color: #91cf3b;
  border-color: #91cf3b;
}

.btn-youscene:hover,
.btn-youscene:focus,
.btn-youscene:active,
.btn-youscene.active,
.open .dropdown-toggle.btn-youscene {
  color: #ffffff;
  background-color: #66cc00;
  border-color: #66cc00;
}

.navbar-youscene {
  background-color: #222222;
  border-color: #080808;
}

.navbar-youscene .navbar-brand {
  color: #ffffff;
}

.navbar-youscene .navbar-brand:hover,
.navbar-youscene .navbar-brand:focus {
  color: #006633;
  background-color: transparent;
}

.navbar-youscene .navbar-text {
  color: #ffffff;
}

.navbar-youscene .navbar-nav > li > a {
  color: #ffffff;
}

.navbar-youscene .navbar-nav > li > a:hover,
.navbar-youscene .navbar-nav > li > a:focus {
  color: #006633;
  background-color: transparent;
}

.container#container {
  background-color:#fffff0;
}

.index-blog {
  border-bottom:solid 1px;
  margin: 5px 0;
}

.index-title {
  font-size:150%;
}

.new-blog,
.edit-blog {
  margin: 10px;
}

.show-blog {
   margin-bottom: 10px;
}

.show-title {
  font-size:200%;
  color:#006633;
  font-weight: bold;
  margin-top:5px;
}

.index-blog-info,
.show-blog-info {
   margin-bottom: 0;
}

.show-article {
  background-color: #fffff0;
  border: none;
  border-radius: 0px;
  border-top:solid 1px;
  border-bottom:solid 1px;
}

.show-author {
  margin-top:10px;
}

